<div class="row">
<div class="col-md-10 col-md-offset-1">
<h3 align = "center">New Forum</h3>
<p align = "center">
 <%= link_to "All Forums", forums_path , class: 'btn btn-default btn-sm' %>
</p>
<%= render 'form' %>


 </div>
 </div>